        .github/
        Ak-logo.png
        README.md
        index.html
        node_modules/
        package-lock.json
        package.json
        postcss.config.js
        public/
        src/
        tailwind.config.js
        tsconfig.json
        tsconfig.node.json
        vite.config.ts
        tsconfig.tsbuildinfo
node_modules
